<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiPanel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClaseRazor.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Barra superior -->
    <div class="topbar">
        <span class="fw-bold">MP MiPanel</span>
        <button id="toggleSidebar">Toggle navigation</button>
    </div>

    <!-- Contenedor principal -->
    <div class="main-wrapper" id="mainWrapper">
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <h2>Menú</h2>
            <a asp-page="/Index">Inicio</a>
            <a asp-page="/Salario">Salario</a>
            <a asp-page="/Privacidad">Privacidad</a>
        </div>

        <!-- Contenido -->
        <div class="content-area">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
